.main {
    padding-bottom: 2%;

    img {
        border: 2px solid #2c2b2b;
    
    }
 
    ul {
        width:  64rem;
        margin: 0 auto;
    
    }

    ol {
        width: 64rem;
        margin: 0 auto;
    
    }

    table {
        width:  64rem;
        margin: 0 auto;
    
    }



}



body {
    background-color: $background-color;

}

