.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

.hidden {
    display: none !important;
}


.nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
    list-style: none;
}

.nav ul li {
    padding: 0 1em;
}

.nav a, .nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}





@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;
        width: 100%;
        
    }

    .nav ul li {
        display: flex;
        flex-direction: column;
        text-align: center;
       
        
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
        
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    
    }

    p {
        max-width: 100%;
    }
    
    .footer {
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .header {
        max-width: 100%;
    }

    .title {
        max-width: 100%;
    }

    .logo {
        max-width: 100%;

        img {
            display: none !important;
        }
    }


    .body {
        width: 100%;
    }
    

    h1, h2, h3, h4, h5, h6 {
        width: 100%;
        
    
    }
    
    
    .title h1 {
        width: 100%;
        
    }


    


    


}

