* {
    font-family: $main-font;
    color: $font-color;
}


p {
    font-size: 1.1rem;
    line-height: 1.2;
    margin-bottom: 1.82rem;
    margin: 1.82rem auto;
    color: #333;
    letter-spacing: 1.4px;
    width: 64rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font2;
    width: 64rem;
    margin-bottom: 1.82rem;
    margin: 1.82rem auto;

}


.title h1 {
    width: 80rem;
    margin-bottom: 1.82rem;
    margin: 1.82rem auto;
    font-family: $header-font1;
    font-size: 3rem;

}

