@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Lexend+Deca:wght@700&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #c4b3a9;
$background-color: #ebebeb;
$background-alternative-color: #e0fbfc;
$footer-background-color: #c4b3a9;
$navbar-color: #e6d2d2;

$header-font1: 'DM Serif Display', serif;
$header-font2: 'Lexend Deca', sans-serif;
$main-font: 'Roboto', sans-serif;

